{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{post.title}}</h1>
                    <h2 class="subheading">{{post.subtitle}}</h2>
                    <span class="meta">Posted by
              <a href="#">{{post.author.name}}</a>
              on {{post.date}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ post.body|safe }}


                <div class="clearfix">
                    {% if current_user.id == 1: %}
                    <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit
                        Post</a>
                    {% endif %}
                </div>


                <!--           Comments Area -->
                <hr>
                {% for message in get_flashed_messages() %}
                <p style="text-align:center">{{ message }}</p>
                {% endfor %}
                {{ ckeditor.load() }}
                {{ ckeditor.config(name='body') }}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                <hr>
                <div class="col-lg-8 col-md-10 comment">
                    {% for i in comments %}
                        <div class="commenterImage">
                            <img src="{{ i.comment_author.email | gravatar }}"/>
                        </div>
                        <div class="commentText">
                            <p class="body-comment">{{ i.body | safe }}</p>
                            <span class="date sub-text">{{ i.comment_author.name }}</span>
                        </div>
                        <br>
                    {% endfor %}
                    </ul>
                </div>


            </div>
        </div>
    </div>
</article>

<hr>
{% include "footer.html" %}